.maincontainer{
           display: flex;
             justify-content: space-around;
             align-items: flex-start;
             width: 100%;
            
             margin-top: 40px;
           
}



/* Section container*/

.sectionContainer{
    width: 99%;
   display: flex;
   justify-content: space-between;   
   background: transparent;
   background: rgb(8,4,74);
   background: linear-gradient(169deg, rgba(8,4,74,1) 72%, rgba(9,9,121,1) 83%);
   align-items: center;
   padding:0px  15px 0px 15px;
   border-radius: 20px;
   box-shadow:  35px 35px 70px #070c24,
             -35px -35px 70px #0b143a;
      
      margin-bottom: 15px;       
             
}
.sectionContainer p{
  
   
  background: linear-gradient(24deg, rgba(10,101,233,1) 0%, rgba(46,232,60,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    color: transparent; 
   
}
.sectionContainer button{
   height: 35px;
   background: transparent;
   color: white;
   background: rgb(10,101,233);
background: linear-gradient(24deg, rgba(10,101,233,1) 0%, rgba(46,232,60,1) 100%);
   border: 0px ;
   width: 100px;
   border-radius: 10px;


}

.formContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    
    
    gap: 15px;
    
}
.form{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgb(8,4,74);
    background: linear-gradient(169deg, rgba(8,4,74,1) 72%, rgba(9,9,121,1) 83%);
    box-shadow:  35px 35px 70px #010516,
             -35px -35px 70px #04081a;
    border-radius: 15px;
    padding: 10px;
 
    
}

.FormChild{

     display: flex;
     flex-direction: column;
     gap: 8px;
     padding: 10px;
     
}

.formLabel{
    display: flex;
    justify-content: space-between;
}
.FormChild div input{
    width: 99%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid white;
    background: transparent;
    color: white;
    padding-left: 10px;
    
}

.FormChild span{
    font-size: 12px;
    color: silver;
   
    display: flex;
    justify-content: end;
    padding-right: 5px;
    gap:10px ;
   
   
}


/*...............Deposite ..........       */

.Deposite{
    background: rgb(8,4,74);
    background: linear-gradient(169deg, rgba(8,4,74,1) 72%, rgba(9,9,121,1) 83%);
    box-shadow:  35px 35px 70px #010516,
             -35px -35px 70px #04081a;
    width: 40%;
    border-radius: 15px;
    padding: 15px;
}

.depositlist{
    display: flex;
     border: 2px solid red;
     flex-direction: column;
     
    
    font-family: Arial, sans-serif;

}




  
  .step {
    
    padding: 15px;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
   
  }
  
  .v-stepper {
    position: relative;
  /*   visibility: visible; */
  }
  
  
  /* regular step */
  .step .circle {
   
    border-radius: 100%;
    width: 20px;  
    height: 20px;
    display: inline-block;
  }
  
  .step .line {
    
     height: 120px; 
    height: 100%;
      left: 12px;
      position: absolute;
     
  }
  
  .step.completed .circle {
    visibility: visible;
    text-align: center;
    padding: 2px;
    background-color: rgb(1, 6, 8);
     border: 0px;
  }
  
 .step.completed .line {
    border-left: 2px dotted rgb(64, 120, 146);
  } 
  
 
  .content {
    margin-left: 20px;
    display: inline-block;
  }
  
  
  .contentbutt{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
   gap: 5px;
  }
  .contentbutt button{

    color: white;
    border-radius: 20px;
      border: 0px;
      height: 30px;
      background: rgb(10,101,233);
background: linear-gradient(24deg, rgba(10,101,233,1) 0%, rgba(46,232,60,1) 100%);

  }



  @media only screen and (max-width: 800px) {
    .maincontainer{
       flex-direction: column;
       gap: 20px;
    }
    .formContainer{
       width: 100%;
    }
    .Deposite{
       width: 100%;
    }
 } 

